@use '../../../styles/mixin' as *;

.theme_toggle {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: inherit;
    transition: opacity 0.3s ease;

    &:hover {
        opacity: 0.7;
    }

    svg {
        width: 24px;
        height: 24px;
        fill: currentColor;
    }
}